/* Adding Work sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.middle-align {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #FF900E;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}

/* dark 01 */
.deep-dark {
    color: #131313;
}

/* dark 02 */
.light-dark {
    color: #424242;
}

/* dark 03 */
.gray-dark {
    color: #727272;
}

.grid-image {
    width: 100%;
}

/* Header Styles Starts Here */
.header {
    background-color: #FF900E10;
    padding: 40px 0;
}

/* Navbar Styles Starts Here*/
.nav-container {
    justify-content: space-between;
    align-items: center;
    /* margin: 50px 0; */
}

.nav-title {
    font-weight: 700;
    font-size: 3rem;

}

.nav-links {
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
}

/* Banner Styles Starts Here */
.banner-content {
    /* border: 2px solid red; */
    max-width: 850px;
    margin: 50px auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 20px;
}

.banner-image-container {
    width: 100%;
}

.banner-image {
    width: 100%;
}

/* List Styles Starts Here */
.list-container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.group-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.list-content {
    /* border: 2px solid red; */
    max-width: 520px;
    margin-left: 70px;
}

.list-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FF900E;
    margin-bottom: 20px;
}

.small {
    font-weight: 400;
}

.list-description {
    margin-bottom: 20px;
}

/* Feature styles starts here */
.feature-container {
    /* border: 2px solid red; */
    margin-top: 120px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.feature-content {
    margin-top: 40px;
}

.feature-title {
    font-size: 3rem;
    font-weight: 700;
    max-width: 450px;
    border-left: 2px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 10px;
}

.feature-description {
    max-width: 570px;
    margin-bottom: 10px;
}

.feature-content-box {
    /* border: 1px solid red; */
    border-radius: 8px;
    max-width: 570px;
    height: 140px;
    padding: 20px 10px;
    margin: 20px 0;
    box-shadow: 2px 2px 3px 5px rgba(56, 55, 55, 0.071);
}

.feature-content-box-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.feature-content-box-description {
    margin-top: 10px;
}

.f-image {
    display: block;
}

.btn-secondary {
    border-radius: 8px;
    padding: 45px 42px;
    background-color: #FF900E;
    border: none;
    font-size: 1.5rem;
    color: white;
    margin-left: -100px;
    margin-top: -100px;
}

span.big {
    font-size: 40px;
    font-weight: bold;
}

/* facts section styles here */
.facts-container {
    /* border: 2px solid red; */
}

.facts-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.facts-description {
    max-width: 540px;
    margin-bottom: 20px;
}

.card-container {
    /* border: 1px solid blue; */
    justify-content: space-between;
    margin: 100px 50px;
}

.card {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h4 {
    font-size: 3rem;
    font-weight: 600;
}

.card p {
    font-size: 1.25rem;
    font-weight: 600;
}


/* Responsive for small devices */
@media screen and (max-width: 576px) {

    .nav-container,
    .nav-links,
    .list-container,
    .feature-container,
    .card-container {
        flex-direction: column;
    }

    .nav-item {
        padding-bottom: 10px;
    }

    .group-image-container {
        grid-template-columns: 1fr;
    }

    .f-image {
        width: 100%;
    }

    .btn-secondary {
        margin-top: -100px;
        margin-left: 100px;
    }

    .card-container {
        align-items: center;
        row-gap: 10px;
    }
    
}